.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 200px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2 {
  margin-bottom: 0;
}

header {
  height: 150px;
}
.results {
  background: #efefef;
  margin: 20px 0;
  padding: 50px;
}
.favorites {
  background: #a2a2a2;
  margin: 20px 0;
  padding: 50px;
}
.card {
  background: #b4b4b4;
  width: 100px;
  padding: 10px 5px;;
}

form {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
body {
  background: #efefef;
}
